@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Inter:wght@400;700&family=Raleway:wght@700&family=Titillium+Web:wght@200;300;400;600&display=swap');
:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu,"Gloria Hallelujah" "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
  }
  
  .main-container {
    overflow: hidden;
  }
  
  .main-container,
  .main-container * {
    box-sizing: border-box;
  }
  
  input,
  select,
  textarea,
  button {
    outline: 0;
  }
  
  .main-container {
    position: relative;
    width: 1440px;
    height: 1839px;
    margin: 0 auto;
    background:#ffffff;
    overflow: hidden;
  }
  .group {
    position: relative;
    width: 1263px;
    height: 39px;
    background-color:whitesmoke;
    margin: 35px 0 0 123px;
    z-index: 55;
  }
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 10px;
    position: absolute;
    width: 139px;
    height: 39px;
    top: 0;
    left: 937px;
    padding: 18px 22px 18px 22px;
    border: 2px solid #764cc2;
    z-index: 50;
    border-radius: 60px;
  }
  .text {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 14px;
    color: #764cc2;
    font-family: Raleway;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    text-align: left;
    white-space: nowrap;
    z-index: 51;
  }
  .box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 70px;
    height: 39px;
    top: 0;
    left: 1193px;
    z-index: 55;
  }
  .pic {
    flex-shrink: 0;
    position: relative;
    width: 31px;
    height: 32px;
    background: rgba(0, 0, 0, 0.022000000000000002)
      url(personimage.jpg) no-repeat
      center;
    background-size: cover;
    z-index: 55;
    border-radius: 24px;
    box-sizing: content-box;
  }
  .img {
    flex-shrink: 0;
    position: relative;
    width: 24px;
    height: 24px;
    background: url(icons8-down-arrow-30.png)
      no-repeat center;
    background-size: cover;
    opacity: 0.4;
    z-index: 54;
  }
  .img-2 {
    position: absolute;
    width: 36px;
    height: 36px;
    top: 1px;
    left: 1142px;
    background: url(icons8-bell-64.png)
      no-repeat center;
    background-size: cover;
    opacity: 0.32;
    z-index: 52;
  }
  .text-2 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 29px;
    top: 5px;
    left: 0;
    color: #292d32;
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    text-align: left;
    white-space: nowrap;
    z-index: 49;
  }
  .pic-2 {
    position: absolute;
    width: 28px;
    height: 28px;
    top: 5px;
    left: 1098px;
    background: url(icons8-wallet-50.png)
      no-repeat center;
    background-size: cover;
    z-index: 53;
  }
  .box-2 {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 362px 0 0 -39px;
    z-index: 22;
  }
  .img-3 {
    position: absolute;
    width: 571px;
    height: 234px;
    top: 0;
    left: 122px;
    background-color: whitesmoke;
    z-index: 22;
    border-radius: 24px;
  }
  .img-4 {
    position: absolute;
    width: 234px;
    height: 234px;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.022000000000000002)
      url(personimage.jpg) no-repeat
      center;
    background-size: cover;
    border-right: 1px solid #000000;
    z-index: 27;
    border-radius: 24px 0 0 24px;
  }
  .box-3 {
    position: absolute;
    width: 259px;
    height: 173px;
    top: 23px;
    left: 265px;
    z-index: 31;
  }
  .section {
    position: relative;
    width: 259px;
    height: 88px;
    margin: 50px 0 0 0;
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 400;
    line-height: 22.4px;
    text-align: left;
    z-index: 28;
  }
  .text-3 {
    position: relative;
    color: #696969;
    font-family: Inter;
    font-size: 14px;
    font-weight: 700;
    line-height: 22.4px;
    text-align: left;
  }
  .text-4 {
    position: relative;
    color: #696969;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 22.4px;
    text-align: left;
  }
  .box-4 {
    position: relative;
    width: 256px;
    height: 29px;
    margin: 6px 0 0 0;
    border: 1px solid #000000;
    z-index: 24;
    border-radius: 4px;
    backdrop-filter: blur(25px);
  }
  .group-2 {
    position: absolute;
    width: 129px;
    height: 29px;
    top: -1px;
    left: -1px;
    border: 1px solid #000000;
    z-index: 25;
    border-radius: 4px;
   
  }
  .text-5 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    width: 53px;
    height: 22px;
    top: 2px;
    left: 37px;
    color: #303030;
    font-family: Reckless Neue, var(--default-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    white-space: nowrap;
    z-index: 26;
  }
  .wrapper-2 {
    position: absolute;
    width: 128px;
    height: 29px;
    top: -1px;
    left: 127px;
    background: rgba(0, 0, 0, 0.5);
    z-index: 23;
    border-radius: 0 4px 4px 0;
    backdrop-filter: blur(25px);
  }
  .text-6 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 29px;
    top: 0;
    left: 0;
    color: #000000;
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    text-align: left;
    white-space: nowrap;
    letter-spacing: 1.08px;
    z-index: 30;
  }
  .text-7 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 22px;
    top: 1px;
    left: 167px;
    color: #696969;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    white-space: nowrap;
    z-index: 31;
  }
  .group-3 {
    position: absolute;
    width: 1517px;
    height: 85px;
    top: 85px;
    left: 25px;
    background: #292828;
    z-index: 19;
  }
  .text-8 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    width: 1489px;
    height: 96px;
    top: 103px;
    left: 0;
    color:whitesmoke;
    font-family: Gloria Hallelujah;
    font-size: 24px;
    font-weight: 400;
    line-height: 47.578px;
    text-align: left;
    z-index: 20;
  
  }
  .section-2 {
    position: absolute;
    width: 1460px;
    height: 846px;
    top: 170px;
    left: 29px;
    background: rgba(255, 255, 255, 0.2);
    border-top: 1px solid #d7d7d7;
    z-index: 13;
    backdrop-filter: blur(25px);
  }
  .box-5 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 609.636px;
    height: 312px;
    margin: 290px 0 0 97px;
    z-index: 57;
  }
  .section-3 {
    flex-shrink: 0;
    position: relative;
    width: 283.636px;
    height: 312px;
    background:#EDEDED;
    z-index: 15;
    border-radius: 24px;
  }
  .img-5 {
    position: relative;
    width: 32px;
    height: 32px;
    margin: 140px 0 0 126px;
    background: url(icons8-plus-30.png)
      no-repeat center;
    background-size: cover;
    opacity: .5;
    z-index: 17;
  }
  .text-9 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    width: 222px;
    height: 44px;
    margin: 62px 0 0 31px;
    color: #a0a0a0;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 22.4px;
    text-align: center;
    letter-spacing: 0.42px;
    z-index: 16;
  }
  .pic-3 {
    flex-shrink: 0;
    position: relative;
    width: 283.636px;
    height: 312px;
    font-size: 0px;
    
    background: url(scilentimge.jpg)
    no-repeat center;

    background-size: cover;
 
    z-index: 57;
    border-radius: 24px;
  }
  .text-a {
    display: block;
    position: relative;
    height: 24px;
    margin: 19px 0 0 13px;
    color: #ffffff;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    letter-spacing: -1px;
    z-index: 67;
  }
  .section-4 {
    position: relative;
    width: 246.764px;
    height: 52.364px;
    margin: 200px 0 0 18px;
    background: rgba(255, 255, 255, 0.2);
    z-index: 58;
    overflow: visible auto;
    border-radius: 12px;
    backdrop-filter: blur(25px);
  }
  .box-6 {
    position: relative;
    width: 206px;
    height: 16.091px;
    margin: 10px 0 0 19px;
    z-index: 66;
  }
  .text-b {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 11px;
    top: 0;
    left: 166px;
    color: #ffffff;
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    line-height: 11px;
    text-align: left;
    white-space: nowrap;
    z-index: 64;
  }
  .box-7 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 8px;
    position: absolute;
    width: 40px;
    height: 16px;
    top: 0.09px;
    left: 0;
    z-index: 61;
  }
  .text-c {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 75px;
    height: 16px;
    color: #ffffff;
    font-family: Inter ;
    font-size: 12px;
    font-weight: 500;
    line-height: 14.523px;
    text-align: left;
    white-space: nowrap;
    z-index: 62;
  }
  .text-d {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 11px;
    top: 0.09px;
    left: 80px;
    color: #ffffff;
    font-family: Inter ;
    font-size: 12px;
    font-weight: 500;
    line-height: 11px;
    text-align: left;
    white-space: nowrap;
    z-index: 66;
  }
  .box-8 {
    position: relative;
    width: 202px;
    height: 19px;
    margin: 1px 0 0 26px;
    z-index: 65;
  }
  .wrapper-3 {
    position: absolute;
    width: 45px;
    height: 15px;
    top: 0;
    left: 157px;
    font-family: DM Sans ;
    font-size: 14px;
    font-weight: 700;
    line-height: 15px;
    text-align: left;
    text-overflow: initial;
    white-space: nowrap;
    z-index: 60;
  }
  .text-e {
    position: relative;
    color: #ffffff;
    font-family: DM Sans ;
    font-size: 14px;
    font-weight: 700;
    line-height: 18.228px;
    text-align: left;
  }
  .text-f {
    position: relative;
    color: #ffffff;
    font-family: DM Sans ;
    font-size: 14px;
    font-weight: 700;
    line-height: 18.228px;
    text-align: left;
  }
  .text-10 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 17px;
    top: 1px;
    left: 0;
    color: #ffffff;
    font-family: Inter ;
    font-size: 14px;
    font-weight: 700;
    line-height: 16.943px;
    text-align: left;
    white-space: nowrap;
    z-index: 63;
  }
  .text-11 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 18px;
    top: 1px;
    left: 81px;
    color: #ffffff;
    font-family: DM Sans ;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    text-align: left;
    white-space: nowrap;
    z-index: 65;
  }
  .section-5 {
    position: absolute;
    width: 1221px;
    height: 39px;
    top: 147px;
    left: 96px;
    z-index: 45;
  }
  .text-12 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 26px;
    top: 0;
    left: 733px;
    color: #565656;
    font-family: Inter ;
    font-size: 16px;
    font-weight: 700;
    line-height: 25.6px;
    text-align: left;
    white-space: nowrap;
    z-index: 43;
  }
  .text-13 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 26px;
    top: 0;
    left: 879px;
    color: #565656;
    font-family: Inter ;
    font-size: 16px;
    font-weight: 700;
    line-height: 25.6px;
    text-align: left;
    white-space: nowrap;
    z-index: 35;
  }
  .text-14 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 26px;
    top: 0;
    left: 1022px;
    color: #565656;
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    line-height: 25.6px;
    text-align: left;
    white-space: nowrap;
    z-index: 38;
  }
  .text-15 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 26px;
    top: 0;
    left: 1167px;
    color: #565656;
    font-family: Inter ;
    font-size: 16px;
    font-weight: 700;
    line-height: 25.6px;
    text-align: left;
    white-space: nowrap;
    z-index: 41;
  }
  .text-16 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 34px;
    top: 5px;
    left: 0;
    color: #000000;
    font-family: Reckless Neue ;
  
    font-size: 28px;
    font-weight: 400;
    line-height: 33.592px;
    text-align: left;
    white-space: nowrap;
    z-index: 45;
  }
  .section-6 {
    position: absolute;
    width: 1240px;
    height: 68px;
    top: 154px;
    left: 96px;
    z-index: 46;
  }
  .img-6 {
    position: absolute;
    width: 0.5px;
    height: 62px;
    top: 0;
    left: 860.75px;
    background: url(backgroundimage.jpg)
      no-repeat center;
    background-size: cover;
    z-index: 34;
  }
  .pic-4 {
    position: absolute;
    width: 0.5px;
    height: 61px;
    top: 1px;
    left: 715.75px;
    background: url(backgroundimage.jpg)
      no-repeat center;
    background-size: cover;
    z-index: 33;
  }
  .img-7 {
    position: absolute;
    width: 0.5px;
    height: 61px;
    top: 1px;
    left: 1005.75px;
    background: url(backgroundimage.jpg)
      no-repeat center;
    background-size: cover;
    z-index: 37;
  }
  .pic-5 {
    position: absolute;
    width: 0.5px;
    height: 61px;
    top: 1px;
    left: 1150.75px;
    background: url(backgroundimage.jpg)
      no-repeat center;
    background-size: cover;
    z-index: 40;
  }
  .text-17 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    width: 51px;
    height: 44px;
    top: 24px;
    left: 733px;
    color: #696969;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 22.4px;
    text-align: left;
    z-index: 44;
  }
  .text-18 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    width: 45px;
    height: 44px;
    top: 24px;
    left: 879px;
    color: #696969;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 22.4px;
    text-align: left;
    z-index: 36;
  }
  .text-19 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    width: 77px;
    height: 44px;
    top: 24px;
    left: 1022px;
    color: #696969;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 22.4px;
    text-align: left;
    z-index: 39;
  }
  .text-1a {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    width: 70px;
    height: 44px;
    top: 24px;
    left: 1170px;
    color: #696969;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 22.4px;
    text-align: left;
    z-index: 42;
  }
  .text-1b {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 22px;
    top: 46px;
    left: 0;
    color: #565656;
    font-family: Reckless Neue;
    font-style: italic;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    white-space: nowrap;
    letter-spacing: 0.48px;
    z-index: 46;
  }
  .img-8 {
    position: absolute;
    width: 1460px;
    height: 548px;
    top: 0;
    left: -10px;
    background: url(backgroundimage.jpg)
      no-repeat center;
    background-size: cover;
    z-index: 11;
    backdrop-filter: blur(25px);
  }
  .pic-6 {
    position: absolute;
    width: 1440px;
    height: 110px;
    top: 0;
    left: 0;
   background-color: white;
    opacity: 0.98;
    z-index: 48;
    backdrop-filter: blur(25px);
  }
  .group-4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 1082px;
    top: 1593px;
    bottom: 198px;
    left: 135px;
    z-index: 5;
  }
  .text-1c {
    flex-shrink: 0;
    position: relative;
    height: 48px;
    color: #262626;
    font-family: Inter;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
    white-space: nowrap;
    z-index: 5;
  }
  .text-1d {
    flex-shrink: 0;
    position: relative;
    height: 17px;
    color: rgba(38, 38, 38, 0.99);
    font-family: Inter;
    font-size: 14px;
    font-weight: 700;
    line-height: 16.943px;
    text-align: left;
    text-transform: capitalize;
    white-space: nowrap;
    z-index: 3;
  }
  .wrapper-4 {
    position: absolute;
    width: 1097px;
    top: 1606px;
    bottom: 125px;
    left: 135px;
    z-index: 10;
  }
  .img-9 {
    position: absolute;
    width: 1px;
    height: 108px;
    top: 0;
    left: 1017.5px;
    background: url()
      no-repeat center;
    background-size: cover;
    z-index: 10;
  }
  .text-1e {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    width: 313px;
    height: 48px;
    bottom: 15px;
    left: 0;
    color: #000000;
    font-family: Reckless Neue;
    font-size: 20px;
    font-weight: 400;
    line-height: 23.994px;
    text-align: left;
    text-transform: capitalize;
    z-index: 4;
  }
  .text-1f {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 17px;
    top: 72.5px;
    left: 1041px;
    color: rgba(38, 38, 38, 0.99);
    font-family: Inter;
    font-size: 14px;
    font-weight: 700;
    line-height: 16.943px;
    text-align: left;
    text-transform: capitalize;
    white-space: nowrap;
    z-index: 9;
  }
  .text-20 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 17px;
    top: 1643.5px;
    left: 1176px;
    color: rgba(38, 38, 38, 0.99);
    font-family: Inter;
    font-size: 14px;
    font-weight: 700;
    line-height: 16.943px;
    text-align: left;
    white-space: nowrap;
    z-index: 7;
  }
  